node_modules/
.env
.env.local
out/
cache/
.turbo/
dist/
.next/
.env.save
.vercel
demos/openagentmarket/xmtp-production*.db3*
demos/openagentmarket/.worker-mnemonic
demos/openagentmarket/.worker-address
